<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enrique.nicaherolayout">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity1" />
        <activity android:name=".Artista1Activity"
            android:label="Artista"/>
        <activity android:name=".Artista2Activity"
            android:label="Artista"/>
        <activity android:name=".Artista3Activity"
            android:label="Artista"/>
        <activity android:name=".Artista4Activity"
            android:label="Artista"/>
        <activity android:name=".Artista5Activity"
            android:label="Artista"/>
        <activity android:name=".Artista6Activity"
            android:label="Artista"/>
        <activity android:name=".Artista7Activity"
            android:label="Artista"/>
        <activity android:name=".PerfilActivity" />
        <activity
            android:name=".EvaluateActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".AprendeActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PianoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ajustes_activity"
            android:label="Ajustes">
        </activity>
        <activity android:name=".Evento1Activity"
            android:label=" "/>
        <activity android:name=".Evento2Activity"
            android:label=" "/>
        <activity android:name=".Evento3Activity"
            android:label=" "/>
        <activity android:name=".Evento4Activity"
            android:label=" "/>
    </application>

</manifest>